{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load homapp_tags %}
{% load humanize %}

{% block title %}
    List
{% endblock title %}

{% block content %}
<div class="content-wrapper">

<!-- Main content End-->
     <!-- Content Header (Page header) -->
     <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-6">
              <h1 class="m-0 text-dark" style="font-size: 17px;">{% if selected_category %}{{ selected_category.category_name  }}{% else %} Deactivated Wears Page{% endif %}
              </h1>
            </div><!-- /.col -->
            <div class="col-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a href="{% url 'homapp:register_wear' %}">
                    <div class="btn btn-primary btn-sm text-xs" style="margin-left: 85px; border-radius: 50px;">Add Wear <i class="fas fa-plus-circle fa-lg ml-1"></i></div>
                </a>
              </li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

       <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                  
                  {% if selected_category %}
                    {% with count_with_data_selected.count as total_wear_by_data_selected %}
                      <h3>{{ total_wear_by_data_selected }}</h3>
                    {% endwith %}

                    {% elif selected_category is not None %}
                      <h3>0</h3>

                    {% else %}

                      {% with qs.count as tot_wears %}
                      <h3>{{ tot_wears }}</h3>
                      {% endwith %}
                  {% endif %}

                  
                  {% if selected_category %}
                    <p>Data Selected ( {{ selected_category.category_name }} )</p>
                    {% elif selected_category is not None %}
                      <p>Data Selected ( No Data )</p>
                    {% else %}
                      <p>All Deactivated Wears</p>
                  {% endif %}

                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'homapp:wears_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    {% with all_wears_cat.count as tot_cat %}
                      <h3>{{ tot_cat }}</h3>
                    {% endwith %}
                <p>Wears Categories Deactivated</p>
                </div>
                <div class="icon">
                <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'homapp:category_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                  {% if slice_deactivated_wears %}
                    {% for d in slice_deactivated_wears %}
                     <h3>{{ d.name }}</h3>
                    {% endfor %}
                    <p>Last Deactivated Wear</p>
                    {% else %}
                      <h3><h6 style="font-size: 15px;">No last deactivated wears yet</h6></h3>
                      <p>until a wear is deactivated</p>
                  {% endif %}
                </div>
                <div class="icon">
                <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                <h3>{{ deactivated_wearss }}</h3>

                <p>All Deactivated Wears</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'homapp:wears_list' %}" class="small-box-footer"><i class="fas fa-arrow-circle-left"></i> Return Back</a>
            </div>
            </div>
            <!-- ./col -->
    </div>
</section>


 <!-- for my form -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <form action="." method="get">
          <div class="row m-3">
              <div class="col-12  col-lg-4 mb-2 mt-3">
                <div class="form-group">
                  <label>Categories</label>
                  <select class="form-control" name="category">
                    <option>Choose...</option>
                    {% for cat in all_wear_categories %}
                    <option value="{{ cat.id }}">{{ cat }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-12  col-lg-4 mt-3">
                <label>Start Date</label>
                <input type="date"  class="form-control" name="start_date">
              </div>

              <div class="col-12 col-lg-4 mt-3">
                <label>End Date</label>
                <input type="date" class="form-control" name="end_date">
              </div>

              <div class="col-12  col-lg-7 mt-3">
                <div class="d-flex">
                  <div class="form-check mr-4">
                    <input class="form-check-input" name="expenses" type="checkbox" value="on" id="defaultCheck1">
                    <label class="form-check-label" for="expenses">
                      Expenses
                    </label>
                  </div>
              
                
              
                  <div class="form-check">
                    <input class="form-check-input" name="not_expenses" type="checkbox" value="on" id="defaultCheck1">
                    <label class="form-check-label" for="not_expenses">
                      NotExpenses
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-12  col-lg-5 mt-3">
                <button class="btn btn-secondary mt-0 ml-5 float-right btn-block btn-sm" type="submit">Search</button>
              </div>
          </div>
        </form>
      </div>  
    </div>
  </div> 



      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">    
                 <div class="row">
                   <div class="col-12 col-lg-7">
                    <h3 class="card-title">
                      
                      {% if selected_category %}
                        {% with count_with_data_selected.count as total_clothe_by_data_selected %}
                        <div class="text-dark">Data Selected: {{ total_clothe_by_data_selected }} ({{ selected_category.category_name }})</div>
                        {% endwith %}

                        {% elif selected_category is not None %}
                          <div class="text-dark">Data Selected: ( No Data )</div>
                      {% else %}

                      {% with qs.count as total_wears %}
                      <div class="text-dark">Data Selected: {{ total_wears }} ( All Deactivated wears )</div>  
                      {% endwith %}

                      {% endif %}

                    </h3>
                   </div>


                  
                   

 
                   <div class="col-12 col-lg-5 mt-2">
                      {% if selected_category %}
                        <h3 class="card-title float-lg-right">Total Amount: &#8358 {{ s_with_cat|intcomma }}</h3>
                        {% elif selected_category is not None %}
                        <h3 class="card-title float-lg-right">Total Amount: &#8358 0</h3>
                      {% else %}
                      <h3 class="card-title float-lg-right">Total Amount: &#8358 {{ sum_all_d_wears|intcomma }}</h3>
                      {% endif %}
                   </div>
                 </div>
                  
                  
                  
                  
                  
        
                  
                </div>
                
                
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-striped table-head-fixed text-nowrap">
                      <thead>
                        <tr>
                          <th style="width: 10px">S/N</th>
                          <th>NAME</th>
                          <th>CATEGORY</th>
                          <th>AMOUNT</th>
                          <th>BOUGHT FROM</th>
                          <th>STATUS</th>
                          <th>BOUGHT ON</th>
                          <th class="">ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for wear in qs %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td><a href="{% url 'homapp:wear_detail' wear.pk %}">{{ wear.name }}</a></td>
                              <td>{{ wear.category }}</td>
                              <td>&#8358 {{ wear.amount }}</td>
                              <td>{{ wear.bought_from }}</td>
                              <td>{{ wear.status }}</td>
                              <td>{{ wear.date_bought|date:"d M Y" }}</td>
                              <td>
                                  <div class="d-flex">
                                    <a href="{% url 'homapp:update_wear' wear.id %}"><i class="fas fa-edit mr-3 text-info"></i></a>
                                    <a href="{% url 'homapp:delete_wear' wear.id %}"><i class="far fa-trash-alt text-danger"></i></a>
                                  </div>
                                </td>
                            </tr>
                       
                        {% endfor %}
                      </tbody>
                    </table>
                  
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}



<!-- {% for clothe in  clothes %}
          <a href="">
            <img src="{% if clothe.photo %} {{ clothe.photo.url }} {% else %} {% static 'account/img/clothe.png' %} {% endif %}" alt="">
          </a>
          <a href="">{{ clothe.name }}</a>
        {% endfor %} -->