{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Edit Wear
{% endblock title %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add New Clothe</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'homapp:wears_list' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'profile' %}">Profile</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add any new wear here...</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="quickForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div id="forMessage"></div> <!--for flash message from jquery-->

                        <div class="form-group">
                        <!-- <label for="exampleInputEmail1">Email address</label> -->
                        {{ wear_register_form.name|as_crispy_field }}
                        <!-- <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
                        </div>

                        <div class="form-group">
                        <!-- <label for="exampleInputEmail1">First Name</label> -->
                        {{ wear_register_form.description|as_crispy_field }}
                        <!-- <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
                        </div>
                  
        
                    <div class="form-group">
                      <label class="mb-2 mr-2"">Category</label>
                      <i class="fas fa-plus" id="categoryButton" data-toggle="modal" data-target="#exampleModal"></i>
                      {{ wear_register_form.category|as_crispy_field }}
                      
                    </div>
                    <div class="form-group">
                        <!-- <label>Sex</label> -->
                        <!-- <select class="form-control select2" style="width: 100%;"> -->
                          {{ wear_register_form.bought_from|as_crispy_field }}
                        <!-- </select> -->
                      </div>
                      <div class="form-group">
                        <!-- <label>Sex</label> -->
                        <!-- <select class="form-control select2" style="width: 100%;"> -->
                          {{ wear_register_form.amount|as_crispy_field }}
                        <!-- </select> -->
                      </div>

                      
  
                      <div class="d-flex">

                        <div class="form-group mr-4">
                          {{ wear_register_form.activate|as_crispy_field }}
                        </div>
  
                        <div class="form-group mr-4">
                          {{ wear_register_form.expenses|as_crispy_field }}
                        </div>

                        
                      </div>


  
                  <div class="form-group">
                    <!-- <label for="exampleInputFile">Profile Pic</label> -->
                    <div class="input-group">
                      <!-- <div class="custom-file"> -->
                        <!-- <input type="file" class="custom-file-input" id="exampleInputFile"> -->
                        {{ wear_register_form.photo|as_crispy_field }}
                        <!-- <label class="custom-file-label" for="exampleInputFile">Current pic:  {{ request.user.profile.profile_pic }}</label> -->
                        
                      <!-- </div> -->
                    </div>
                    
                  </div>
                  <!-- <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div> -->
                  <!-- <div class="form-group mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                      <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                    </div>
                  </div> -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <input type="submit" value="Add New Clothe" class="btn btn-primary">
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Modal and form for adding Task category -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal_dismiss">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Wear Category here....</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card card-primary ">
                <div class="card-header">
                  <h3 class="card-title">Go ahead and add..............</h3>
                </div>
                <!-- /.card-header -->
              
              
                
              <!-- form start -->
                <form method="post" enctype="multipart/form-data" id="createWearCategoryForm" data-url="{% url 'homapp:register_wear' %}">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                      {{ add_wear_category_form.category_name|as_crispy_field }}
                      </div>

                      
                      <div class="form-group">
                        {{ add_wear_category_form.activate|as_crispy_field }}
                      </div>
                    </div>
      
                      <div class="row">
                        <div class="col-8">
                          <button type="button" id="createWearCategoryButton" class="btn btn-primary">Save changes</button>
                        </div>

                        <div class="col-4">
                          <button type="button" id="closeWearCategoryButton" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                            
                  </div>
                </div>
                
                
                </form>

                
                  
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    <!-- end modal -->
  </div>
  <!-- /.content-wrapper -->

 
{% endblock content %}

{% block js %}
  <script>
    $(document).ready(function(){
      // To show the modal when the plus button is clicked
      $("#categoryButton").click(function(){
        $("#exampleModal").modal("show");


        // On click of the close button, if there was any value in category name field, clear it and close the modal
        $("button#closeWearCategoryButton").on("click", function(){
          let category_name = $("input#id_category_name").val();
          if (category_name){
            $("input#id_category_name").val("");
            $("exampleModal").modal("hide");

            $("textarea#id_description").after(`<div class="alert alert-danger alert-dismissible fade show showMessage mt-3 text-center" role="alert">
                  <strong id="addName">Wear category not added successfully.....</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>`);
        
            $(".showMessage").show()
                setTimeout(function(){
                $(".showMessage").fadeOut(1000);
            }, 2000);
          }
          
        });

      });

      

      // processing the form on click of the form button
      $("button#createWearCategoryButton").click(function(){
        let serializedData = $("form#createWearCategoryForm").serialize();

        // making use of ajax call
        $.ajax({
          url: $("form#createWearCategoryForm").data("url"),
          data: serializedData,
          type: "post",
          success: function(response){
            $("select#select_wear_category").append(`<option value="${response.wear_category.category_name}">${response.wear_category.category_name}</option>`)
              $("input#id_category_name").val("");
              $("#exampleModal").modal("hide");

              $("textarea#id_description").after(`<div class="alert alert-success alert-dismissible fade show showMessage mt-3 text-center" role="alert">
                <strong id="addName">${response.wear_category.category_name} Wear category added successfully</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>`);
      
                $(".showMessage").show()
                setTimeout(function(){
                    $(".showMessage").fadeOut(1000);
                }, 2000);
          },
          
        });

        

      });

      
    });
  </script>
{% endblock js %}