{% extends 'account/base.html' %}

{% block title %}
  password set
{% endblock title %}

 
 
{% block content %}
<div class="content-wrapper login-page">
     <!-- Main content -->
    <section class="content">
        <div class="login-box">
            <div class="login-logo">
                <a href="#">Set password Page</a>
            </div>

            <div class="card">
                <div class="card-body login-card-body">
                <p class="login-box-msg">Change your password without old one here....</p>

                <form method="post">
                    {% csrf_token %}
                    
                    <div class="input-group mb-3">
                        {{ password_set_form.new_password1 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ password_set_form.new_password2 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    </div>
                    <!-- Remember me col -->
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-primary btn btn-block" value="Change password without old one">
                        </div>
                    <!-- /.col -->
                    </div>
                </form>

                <div class="d-flex justify-content-between mt-3">
                    <p class="text-muted">Return to home page.....</p>
                    <a href="{% url 'homapp:wears_list' %}" class="text-center">Wear List</a>
                </div>
                </div>
                <!-- /.login-card-body -->
                
            
            </div>
        <!-- /.content -->
        </div>
    </section>
</div>
{% endblock content %}