{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load homapp_tags %}
{% load humanize %}

  


{% block title %}
    Todo List
{% endblock title %}

  <!-- Django Tempus Dominus assets are included in `{{ form.media }}`  -->
{% block link %}
  {{ todo_form.media }}
{% endblock link %}

{% block content %}
<div class="content-wrapper">

<!-- Main content End-->
     <!-- Content Header (Page header) -->
     <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% if selected_category %}{{ selected_category.category_name  }}{% else %} Todo List{% endif %}
              </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  
              </li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

       <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">

                  {% if count_task_filtered %}
                    {% with count_task_filtered.count as total_task_selected %}
                    <h3>{{ total_task_selected|intcomma }}</h3>
                    {% endwith %}
                    {% elif count_task_filtered is not None %}
                      <h3>0</h3>
                    {% else %}
                      {% with all_task_count.count as total_task %}
                      <h3>{{ total_task }}</h3>
                      {% endwith %}
                  {% endif %}

                  
                  {% if count_task_filtered %}
                    <p>Data Selected ( {{ selected_task_category.name }} )</p>
                    {% elif count_task_filtered is not None %}
                      <p>Data Selected ( No Data )</p>
                    {% else %}
                      <p>All Tasks</p>
                  {% endif %}

                  
                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-left"></i> More info</a>
            </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                  
                  <h3>{{ uncompleted_tasks|intcomma }}</h3>                  
                    <p>Uncompleted Tasks</p>
                </div>
                <div class="icon">
                <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->


            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ completed_tasks|intcomma }}</h3>                  
                  <p>Completed Tasks</p>
              </div>
                <div class="icon">
                <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                <h3>{{ deactivated_tasks|intcomma }}</h3>

                <p>All Deactivated Tasks</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'homapp:deactivated_task' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
    </div>
</section>



<!-- Todo form -->
<section class="content mt-4 mb-4">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Task here...</h3>
            <a href="{% url 'homapp:list_task_category' %}" class="mt-2">
              <div class="btn btn-light for_radius float-right">Add Task Category <i class="fas fa-plus-circle fa-lg ml-1"></i></div>
            </a>
          </div>
          <!-- /.card-header -->
         
        
          
           <!-- form start -->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                  {{ todo_form.name|as_crispy_field }}
                  </div>

                  
                  <div class="form-group">
                    {{ todo_form.complete|as_crispy_field }}
                  </div>

                  
                </div>

                <div class="col-4">
                  <div class="form-group">
                      {{ todo_form.due|as_crispy_field }}
                    </div>

                    <div class="form-group">
                      {{ todo_form.activate|as_crispy_field }}
                    </div>
                </div>

                <div class="col-4">
                  <div class="form-group">
                    {{ todo_form.category|as_crispy_field }}
                  </div>

                  <input type="submit" value="Add Task" class="btn btn-primary btn-block">
                </div>

                <div class="col-12">
                  <div class="form-group">
                    {{ todo_form.description|as_crispy_field }}
                  </div>

                </div>

                
              </div>
            </div>
          </form>
        </div>
        <!-- /.card -->
        </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->



       <!-- for my form -->
       <form action="." method="get">
        <div class="row">
            <div class="col-3 ml-3 mb-2">
              <div class="form-group">
                <label>Categories</label>
                <select class="form-control" name="category">
                  <option>Choose...</option>
                  
                  {% for cat in task_categories %}}
                  
                  <option value="{{ cat.id }}">{{ cat }}</option>
                 
                  {% endfor %}
                  
                </select>
              </div>
      
                <div class="d-flex">
                    <div class="form-check mr-4">
                      <input class="form-check-input" name="completed" type="checkbox" value="on" id="defaultCheck1">
                      <label class="form-check-label" for="expenses">
                        Completed
                      </label>
                    </div>
                 
                  
                
                    <div class="form-check">
                      <input class="form-check-input" name="not_completed" type="checkbox" value="on" id="defaultCheck1">
                      <label class="form-check-label" for="not_expenses">
                        NotCompleted
                      </label>
                    </div>

                </div>
            </div>
      
            <div class="col-3">
              <label>Start Date</label>
              <input type="date"  class="form-control" name="start_date">
            </div>
      
            <div class="col-4">
              <label>End Date</label>
              <input type="date" class="form-control mb-2" name="end_date">

              <!-- search form -->
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" name="search" placeholder="Search Task" aria-label="Search">
              </div>

            </div>
      
            
      
              <div class="input-group-append">
                <button class="btn btn-navbar mb-3" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
        </div>
      </form> 

      

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">    
                  <div class="row">
                    <div class="col-sm-7">
                      <h3 class="card-title">

                        {% if count_task_filtered %}
                          {% with count_task_filtered.count as task_selected %}
                          <div class="text-dark">Data Selected: {{ task_selected|intcomma }} ( {{ selected_task_category.name }} )</div>
                          {% endwith %}

                          {% elif count_task_filtered is not None %}
                            <div class="text-dark">Data Selected:  ( No data )</div>
                          {% else %}
                            {% with all_task.count as total_task %}
                            <div class="text-dark">Data Selected: {{ total_task }} ( All Task)</div>  
                            {% endwith %}
                        {% endif %}
                      </h3>
                      
                    </div>

                         <!-- For pagination -->
                      <div class="col-sm-5">
                        <nav aria-label="...">
                          {% if all_task.has_other_pages %}
                            <div class="card-tools">
                              <ul class="pagination pagination-sm float-right mt-0">
                                {% if all_task.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ all_task.previous_page_number }}" tabindex="-1" aria-disabled="true">&laquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                  </li>
                                {% endif %}
    
    
                                {% for i in all_task.paginator.page_range %}
                                  {% if all_task.number == i %}
                                    <li class="page-item active" aria-current="page">
                                      <a class="page-link" href="#">{{ i }}</a>
                                    </li>
                                    {% else %}
                                  
                                      <li class="page-item" aria-current="page">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                      </li>
                                  {% endif %}
                                {% endfor %}
    
    
                                {% if all_task.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ all_task.next_page_number }}">&raquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                                  </li>
                                  
                                {% endif %}
                              </ul>
                            </div>
                            
                          {% endif %}
                        </nav>
                      </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0"  style="height: 400px;">
                    <table class="table table-striped  table-head-fixed text-nowrap">
                      <thead>
                        <tr>
                          <th style="width: 10px">S/N</th>
                          <th>NAME</th>
                          <th>COMPLETED</th>
                          <th>DATE CREATED</th>
                          <th>DATE UPDATED</th>
                          <th>DUE DATE</th>
                          <th>CATEGORY</th>
                          <th>ACTIVATE</th>
                          <th class="">ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for t in all_task %}
                              <tr>
                                <td>{{ forloop.counter }}</td>

                                {% if t.is_overdue and t.complete != True %}
                                  <td><strike><a href="{% url 'homapp:task_detail' t.pk %}">{{ t.name }}</a></strike></p></td>
                                {% else %}
                                <td><a href="{% url 'homapp:task_detail' t.pk %}">{{ t.name }}</a></td>
                                {% endif %}

                                {% if t.complete == True %}
                                <td><span class="badge badge-success">Task completed</span></td>
                                {% else %}
                                <td><span class="badge badge-warning">Not completed</span></td>
                                {% endif %}
                                <td>{{ t.date_created }}</td>
                                <td>{{ t.date_updated }}</td>
                                <td>{{ t.due }}</td>
                                {% if t.category.name is not None %}
                                <td>{{ t.category.name }}</td>
                                {% else %}
                                <td>No category</td>
                                {% endif %}

                                {% if t.activate == True %}
                                <td><span class="badge badge-success">Activated</span></td>
                                  {% else %}
                                  <td><span class="badge badge-danger">Not Activated</span> 
                                {% endif %}

                                <td>
                                    <div class="d-flex">
                                      <a href="{% url 'homapp:update_todo_task' t.pk %}"><i class="fas fa-edit mr-3 text-info"></i></a>
                                      <a href="{% url 'homapp:delete_task' t.pk %}"><i class="far fa-trash-alt text-danger"></i></a>
                                    </div>
                                </td>
                                
                              </tr>
                            
                       
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

                <!-- card footer and for pagination-->
                <div class="card-footer mt-3">
                  <div class="row">
                    <div class="col-sm-3"></div>

                    <!-- pagination here -->
                    <div class="col-sm-9">
                      <nav aria-label="...">
                        {% if hmm.has_other_pages %}
                          <div class="card-tools">
                            <ul class="pagination pagination-sm float-right mt-0 mb-0">
                              {% if hmm.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ hmm.previous_page_number }}" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                              {% endif %}
  
  
                              {% for i in hmm.paginator.page_range %}
                                {% if hmm.number == i %}
                                  <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ i }}</a>
                                  </li>
                                  {% else %}
                                
                                    <li class="page-item" aria-current="page">
                                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                              {% endfor %}
  
  
                              {% if hmm.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ hmm.next_page_number }}">&raquo;</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                                </li>
                                
                              {% endif %}
                            </ul>
                          </div>
                          
                        {% endif %}
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock content %}


